

body {
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 60px; /*fixed footer ei mene muiden p채채lle*/
  background: url('../img/taustakuva2.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top: 70px;
}

.container-fluid {

}

.navbar-fixed-top{
	
}
.ostoskori{
	background-color: rgba(108, 81, 69, 0.6);
	border-radius: 2px;
	padding-left: 7px;
	
}
.navbar {
  font-size: 20px;
  background-color: rgba(000, 000, 000, 0.5);
  border: none;
  border-radius: 0;
}
/*firman nimen v채ri*/
.navbar-default .navbar-brand {
    color: white;
}
/*navbar tekstien v채rit*/
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar li{
	display: inline;
	opcaity: 0.6;
}
.navbar a:link {
	position:relative;
	text-decoration:none;
}
.navbar a:before {
	content: "" ;
	position:absolute ;
	width: 100% ;
	height: 2px ;
	bottom: 0 ;
	left: 0 ;
	background-color: red ;
	visibility: hidden ;
	-webkit-transform: scaleX(0) ;
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navbar a{
	color:white !important;
}
.navbar a:hover {
	color:white !important;	
}
.navbar a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.glyphicon {
  font-size: 15px;
}

/* Etusivun Otsikko! */
.page-header{
  text-align: center;
  color: white;
  margin-top: 22px;
  border-bottom:
}
/* Etusivun Otsikko! */
.page-header h1{
  font-size: 80px;
}
/* Etusivun Otsikko! */
.page-header p {
  font-size: 30px;
}

/* etusivun kuvat */
img {
  width:900px;
  height:480px;
  border-radius: 5px;
}

/* yhteystiedot.html pohja!! (????etusivun kuvien row???)*/
.stuff {
  position: relative;
  width: 900px;
  max-width: 100%;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(104,84,75, 0.5);
  margin-top: 20px;
  color: black;
}

.stuff h2 {
	color:white;
}
.col-md-4 p {
	color:white;
  margin-top: 10px;
  font-size: 16px;
}

/* google mappi */
iframe {
  max-width: 100%;
}

/*footer*/
.navbar-fixed-bottom{
  background-color:rgba(000,000,000, 0.5);
  color:white;
  font-size: 16px;
  display:inline-block;
}
.navbar-fixed-bottom p {
  margin-top: 8px;
}
.auki {
	margin-top: 8px;
	text-align: center;
}
.some img {
  width:40px;
  height:40px;
  padding:5px;
}

/*pizzalista.html lista css(panel-heading tausta v채ri ei toimi)*/
.lista {
  position:relative;
  width: 900px;
  max-width: 100%;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: rgba(104,84,75, 0.5);
}
.lista h3 {
  text-align: center;
  font-size: 35px;
  color: white;
}
.lista h2 {
	font-size: 20px;
	
}
.panel-default {
	border: none;
}
.panel-heading {
  font-size: 20px;
  background-color:#9d8674;
  color: white;
  text-align: center;
  padding-left: 150px;
}
.panel-heading p {
  float: right;
  font-weight: bold;
  padding-right: 10px;
}
.panel-body{
  background-color:#f3e3ca;
  text-align: center;
}

/*pizzalista.html checkbox(norm, perhe)*/
.checkbox-inline {
  margin-left: 5px;
  font-size: 14px;
}
.lisaa {
  float:right;
  margin-right: 8px;
}
.lisaa .btn-success{
	background-color:#ECE7E3;
	color: black;
	border: white; 
}
.lisaaAdmin {
	float:right;
  margin-right: 8px;
}
/*yhteystiedot.html*/
hr {
  max-width: 870px;
}

/*pizzalista ja tayte.html tab valikko */
.nav-pills {
  position: relative;
  margin-left: 40%;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 16px;
}
.taytevalikko {
  position: relative;

}
.taytevalikko .checkbox-inline {
  position: relative;
  margin-left:5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.taytevalikko label {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}


/* slideshow*/
.main {
  position:relative;
  width: 900px;
  border:none;
  border-radius: 5px;
  max-width: 100%;
  height: 480px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: rgba(000,000,000, 0.5);
  box-shadow:-3px 0px 35px 20px rgba(000,000,000, 0.5);  
}

.main .slideshow {
  position: relative;
  margin-left: 4%;
  margin-right: 2%;
  margin-bottom: 4%;
}

.main img {
  max-width: 100%;
  max-height: auto;
}

.main h2 {
  text-align: center;
}

.main p {
  text-align: center;
  font-size: 20px;
}

/* kirjautumis lomake */
.kirjautuminen {
width:100%;
height: auto;
}

/* kirjaudu sis狎n nappi*/
.nappi {
	background: none !important;
	border: none;
	padding-top: 12px;
	font-size: 20px;
}

.nappi:focus {
	outline: none !important;
}


/* kirjautumis popup*/
.tab-pane {
	background: rgba(104,84,75, 1) !important;
	border: none !important;
}

.well {
	background: rgba(104,84,75, 1) !important;
	border: 1px solid rgba(104,84,75, 1) !important;
}

.form-control {
	background-color: #f3e3ca !important;
}

.nav-tabs {
	margin-bottom: 10px;
}

.modal-header h3{
	color: white;
	text-align: center;
}

.form-group {
	color: white;
}

.ostootsikko {
	color:white !important;
}

.tilaus {
	color:white;
	font-size: 20px;
}
.tilaus table {
	width: 100%;
}
.tilaus td{
	float:right;
}
.jokunappi {
	float:right;
	margin-top: 37px;
}
.ostoskori_yla h2 {
	color: white;
}
.ostoskori_yla h3 {
	color:white;
}
.ostoskori_yla h1{
	text-align:center;
	color:white;
}
.ostoskori_ala h3 {
	color:white;
}
.ostoskorihinta {
	font-size: 15px;
}


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}


.ostoskori {
	background-color:white;
}
.ostoskori h1 {
	text-align: center;
}
.ostoskori h2 {
	text-align:center;
	
}
.ostoskori span {
	font-size: 25px;
}

.tilausvahvistus {
	font-size: 20px;
}