

body {
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 60px; /*fixed footer ei mene muiden päälle*/
  background: url('../img/taustakuva2.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top: 70px;
}

.container-fluid {

}

.navbar-fixed-top{
	
}
.ostoskori{
	background-color: rgba(108, 81, 69, 0.6);
	border-radius: 2px;
	padding-left: 7px;
	
}
.navbar {
  font-size: 20px;
  background-color:#987161;
  border: 1px solid #987161;
  border-radius: 0;
}
/*firman nimen väri*/
.navbar-default .navbar-brand {
    color: white;
}
/*navbar tekstien värit*/
.navbar-default .navbar-nav>li>a {
    color: white;
}
.glyphicon {
  font-size: 15px;
}

/* Etusivun Otsikko! */
.page-header{
  text-align: center;
  color: white;
  border-bottom:
}
/* Etusivun Otsikko! */
.page-header h1{
  font-size: 80px;
}
/* Etusivun Otsikko! */
.page-header p {
  font-size: 30px;
}

/* etusivun kuvat */
img {
  width:600px;
  height:400px;
}

/* yhteystiedot.html pohja!! (????etusivun kuvien row???)*/
.stuff {
  position: relative;
  width: 900px;
  max-width: 100%;
  border: 1px solid #987161;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,219,190, 0.8);
  margin-top: 20px;
  color: black;
}
.col-md-4 p {
  margin-top: 10px;
  font-size: 16px;
}

/* google mappi */
iframe {
  max-width: 100%;
}

/*footer*/
.navbar-fixed-bottom{
  background-color:#987161;
  color:white;
  font-size: 16px;
  display:inline-block;
}
.navbar-fixed-bottom p {
  margin-top: 8px;
}
.some img {
  width:40px;
  height:40px;
  padding:5px;
}

/*pizzalista.html lista css(panel-heading tausta väri ei toimi)*/
.lista {
  position:relative;
  width: 700px;
  max-width: 100%;
  border: 1px solid #987161;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: rgba(255,219,190, 0.8);
}
.lista h3 {
  text-align: center;
  font-size: 35px;
  color: white;
}
.lista h2 {
	font-size: 20px;
	
}
.panel-default {
	border: none;
}
.panel-heading {
  font-size: 20px;
  background-color:#ffdbbe;
}
.panel-heading p {
  float: right;
  font-weight: bold;
}
.panel-body{
  background-color:#ECE7E3;
}

/*pizzalista.html checkbox(norm, perhe)*/
.checkbox-inline {
  margin-left: 5px;
  font-size: 14px;
}
.lisaa {
  float:right;
  margin-right: 8px;
}
.lisaa .btn-success{
	background-color:#ECE7E3;
	color: black;
	border: white; 
}
.lisaaAdmin {
	float:right;
  margin-right: 8px;
}
/*yhteystiedot.html*/
hr {
  max-width: 870px;
}

/*pizzalista ja tayte.html tab valikko */
.nav-pills {
  position: relative;
  margin-left: 40%;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 16px;
}
.taytevalikko {
  position: relative;

}
.taytevalikko .checkbox-inline {
  position: relative;
  margin-left:5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.taytevalikko label {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}


/* slideshow*/
.main {
  position:relative;
  width: 700px;
  border: 1px solid #987161;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: rgba(255,219,190, 0.8);
}

.main .slideshow {
  position: relative;
  margin-left: 9%;
  margin-right: 9%;
}

.main img {
  max-width: 100%;
  max-height: auto;
}

.main h2 {
  text-align: center;
}

.main p {
  text-align: center;
  font-size: 20px;
}

/* kirjautumis lomake */
.kirjautuminen {
width:100%;
height: auto;
}

.modalnappi:hover{
	background: #5bc0de !important;
}
